<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'searchTitle'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalSearch()">{{'Shutdown'|translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list class="search-modal-no-result-panel">
      <ion-item class="search-modal-no-result">
        <i class="ion-sad-outline"></i><br/><br/>
        {{'visitors'|translate}}<br/><br/>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
