<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'DatingSafetys'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal('DatingSafetys')">{{'Shutdown'|translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <ion-list class="content">
        <div ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11]" class="{{$index!=5?'':'h4'}}">
          &nbsp;&nbsp;&nbsp;&nbsp;{{'DAtingSafetycontent'+($index+1)|translate}}</div>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>
