<ion-view view-title="{{'freshNews'|translate}}">
  <ion-content>
    <ion-list>

     <!-- <ion-item class="item item-thumbnail-left" ui-sref="" ng-repeat="">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>-->

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>

      <ion-item class="item item-thumbnail-left" href="#">
        <img src="img/demoPic/blue-album.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </ion-item>



      <ion-item  class="for-more-btn text-center">
        <span ng-bind="'Moreandmore'|translate"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
