<ion-view view-title="{{'Onlineuserss'|translate}}">
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar" href="#">
        <img style="max-width: 50px;max-height: 50px;top: 10px;left: 10px;border-radius: 10%;" src="img/demoPic/user1.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>


      <ion-item class="item item-avatar" href="#">
        <img style="max-width: 50px;max-height: 50px;top: 10px;left: 10px;border-radius: 10%;" src="img/demoPic/user2.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>


      <ion-item class="item item-avatar" href="#">
        <img style="max-width: 50px;max-height: 50px;top: 10px;left: 10px;border-radius: 10%;" src="img/demoPic/user3.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>


      <ion-item class="item item-avatar" href="#">
        <img style="max-width: 50px;max-height: 50px;top: 10px;left: 10px;border-radius: 10%;" src="img/demoPic/user2.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>


      <ion-item class="item item-avatar" href="#">
        <img style="max-width: 50px;max-height: 50px;top: 10px;left: 10px;border-radius: 10%;" src="img/demoPic/user3.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
